.exportDataDiv {
  position: absolute;
  top: 15rem;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: center;
}

.exportDataBtn {
  background: rgb(63, 185, 255);
  box-sizing: border-box;
  border: none;
  outline: none;
  padding: 1rem;
  width: 15rem;
  color: white;
  font-size: small;
  font-weight: bold;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
}
