.DataDiv {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

#exportDataDiv {
  top: 16rem;
}

#importDataDiv {
  top: 20rem;
}

.DataBtn {
  background: rgba(63, 249, 255, 0.493);
  box-sizing: border-box;
  border: none;
  outline: none;
  padding: 1rem;
  width: 15rem;
  color: white;
  font-size: small;
  font-weight: bold;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
}

#importDataBtn{
    display: none;
}