body{
    background-image: url("https://cdn.pixabay.com/photo/2017/03/25/17/56/color-2174049_1280.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    box-sizing: border-box;
    width:100vw;
    min-height:100vh;

    display: flex;
    justify-content: center;
}
body *{
    margin:0;
    padding:0
}

.homeHeaderDiv{
    color: white;
    position:relative;
    margin-top: 1rem;
}

.homeHeaderDiv *
{
    margin:0;
    display:flex;
    justify-content: center;
}

#homeText{
    font-size: 8vh;
    margin-top: -0.5rem;
}

.homeFormDiv{
    margin-top: 1rem;
    position: relative;
}

#nameTextField{
    border: none;
    outline: none;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 1rem;
    width: 45vw;
    height: 5vh;
    margin-top: -0.5rem;
    text-align: center;
}

#nameSubmitBtn{
    background-color: hsla(147, 43%, 73%, 0.746);
    border:none;
    outline:none;
    box-sizing: border-box;
    padding: 0.7rem;
    border-radius: 20px;
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%);
}

#nameSubmitBtn:hover{
    background-color: hsla(147, 63%, 73%, 0.746);
}