
body {
  background-image: url("../assets/backgroundImage.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  box-sizing: border-box;
  width: 100vw;
  min-height: 100vh;

  display: flex;
  justify-content: center;
}
body * {
  margin: 0;
  padding: 0;
}

.homeHeaderDiv {
  color: white;
  position: relative;
  margin-top: 1rem;
}

.homeHeaderDiv * {
  margin: 0;
  display: flex;
  justify-content: center;
}

#homeText {
  font-size: 8vh;
  margin-top: -0.5rem;
}

.homeFormDiv {
  margin-top: 1rem;
  position: relative;
  display: grid;
  place-items: center;
}

#nameTextField {
  border: none;
  outline: none;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 1rem;
  width: 45vw;
  height: 5vh;
  margin-top: -0.5rem;
  text-align: center;
}

#nameSubmitBtn {
  background-color: hsla(147, 43%, 73%, 0.746);
  border: none;
  outline: none;
  box-sizing: border-box;
  padding: 0.7rem;
  border-radius: 20px;
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%);
  color: var(--button-text-color);
}

#nameSubmitBtn:hover {
  background-color: hsla(147, 63%, 73%, 0.746);
}

.resetValuesDiv {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translate(-50%);
  width: 40%;
  display: flex;
  justify-content: center;
}

#resetValuesBtn {
  position: absolute;
  box-sizing: border-box;
  border: none;
  outline: none;
  padding: 1rem;
  width: 100%;
  color: rgba(255, 255, 255, 0.459);
  font-size: small;
  font-weight: bold;
  border-radius: 20px;
  background-color: rgba(255, 39, 39, 0.459);
  transition: 0.7s;
}

@media only screen and (min-width: 750px) {
  #resetValuesBtn {
    font-size: 2rem;
  }
}

#resetValuesBtn:hover {
  background-color: rgb(255, 39, 39);
  color: rgb(255, 255, 255);
}